.styles {
    width: 30%;
    text-align: center;
    border-color: gray;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.marginTopColor {
    color:gray; margin-top: 30px; margin-bottom: 30px;
}